<% content_for :title do %>
Volunteer
<% end %>

<%= form_tag volunteers_path, {:method => 'get'} do %>
<div class="row">
  <div class="span2"></div>
  <div class="pull-right">
  Live search: 
  <%= text_field_tag :live_search, params[:live_search], :autocomplete => 'off' %>
  </div>
</div>
<% end %>

<div id="volunteer-results">
  <%= render 'table' %>
</div>