<h2>Upcoming Shifts</h2>
<%= datagrid_table(@shifts, @assets.first, :order => false) %>

<h2>Recent Shift Signups</h2>
<%= #render 'signups/table'
 %>

<h2>New Volunteers</h2>
<%= render 'users/table' %>

