<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% end %>
<% if !current_subdomain.nil?%>
  <li>
      User: 
      <% if current_user %>
        <%= current_user.name %>
      <% else %>
        (not logged in)
      <% end %>
  </li>
<% end %>
