<table id="hor-minimalist-a">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</td>
      <th scope="col">Signed Up</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= time_ago_in_words user.created_at %> ago</td>
    
      </tr>
    <% end %>
  </tbody>
</table>