<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Thanks, you have signed up!</h3>
</div>

<div class="modal-body">
  You are now signed up for <%= @event.title %>.  This is going to include some more help information.
  <h4>Please share this with your friends</h4>

  <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  
</div>


<div class="modal-footer">
  <%= link_to 'View My Shifts', shifts_path, :class => 'btn primary' %>
  <a href="#" class="cancel-button btn secondary" onclick="$('#modal-from-dom').modal('hide');return false;">Dismiss</a>
</div>

