<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Thanks, you have signed up!</h3>
</div>

<div class="modal-body">
You are now signed up for <%= @event.title %>.  This is going to include some more help information.
<br />
<br />
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e98716c30e422af"></script>
<!-- AddThis Button END -->
</div>


<div class="modal-footer">
<a href="#" class="cancel-button btn secondary" onclick="$('#modal-from-dom').modal('hide');return false;">Dismiss</a>
</div>

