<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Thanks, you have signed up!</h3>
</div>

<div class="modal-body">
You are now signed up for <%= @event.title %>.  This is going to include some more help information.
</div>


<div class="modal-footer">
<a href="#" class="cancel-button btn secondary" onclick="$('#modal-from-dom').modal('hide');return false;">Dismiss</a>
</div>

