<% content_for :title do %>
Volunteer Calendar
<% end %>


<% if can? :edit, Event %>
<button id="new-event" class="btn primary">Add Event</button>
<br />
<br />
<% end %>


<div id="modal-from-dom" class="modal hide fade"></div>



<script>

function attach_events() {
  $('.edit-event').click(function() {
    $('.ui-tooltip').hide();
    
    
    
    jQuery.ajax({
                      type: 'get',
                      url: "/events/" + this.id + "/edit",
                      success: function() {
                        $('#modal-from-dom').modal({
                           show : true,
                           keyboard : true,
                           backdrop : true
                        });
                        
                        
                      }
                  });
    
    
    
     return false;
  });
  
  $('.delete-event').click(function() {
    $('.ui-tooltip').hide();
    
    $('#modal-from-dom').load("/events/" + this.id + "/delete_confirmation", function() {
        $('#modal-from-dom').modal({
           show : true,
           keyboard : true,
           backdrop : true
        });
    });
   
    
    
    
     return false;
  });
}

  $(document).ready(function(){ 

    $('#new-event').click(function() {
       $('.ui-tooltip').hide();

       $('#modal-from-dom').load("/events/new", function() {
           $('#modal-from-dom').modal({
              show : true,
              keyboard : true,
              backdrop : true
           });
       });
});

      
           
      $('#calendar').fullCalendar({
          editable: false,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          
          events: "/events/retrieve",
          timeFormat: 'h:mm t{ - h:mm t} ',
        
          eventRender: function(event, element) {
                  element.qtip({
                    position: {
                       my: 'bottom-center',
                       at: 'top-center',
                    },
                      show: {
                            event: 'click',
                            solo: true,
                            modal: true,
                      },
        
                       hide: {
                          event: 'click',
                          target: $('.close')
                        },
                      style: {
                         classes: 'ui-tooltip-shadow ui-tooltip-light'
                      },
                      my: 'bottom center',
                      at: 'top center',
                      content: {
                            text: 'Loading...', // The text to use whilst the AJAX request is loading
                            ajax: {
                               url:  "/events/" + event.id + '/popup', // URL to the local file
                               type: 'GET', // POST or GET
                               
                            }
                         },
                         
                  });
              },
          




      });
  });


</script>

<div>
  <div id='calendar'>
  </div>
</div>
<div id="create_event_dialog"><div id="create_event"></div></div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "signup_event"></span>
    <span id = "signup_recurring_event"></span>
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
