<h1><%= current_subdomain.name %></h1>
<p>

</p>

<script>
  $(document).ready(function(){ 
    	$( ".button" ).button();
       
      $('#calendar').fullCalendar({
          editable: true,
          theme: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          slotMinutes: 60,
          loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          events: "/events/get_events",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                  moveEvent(event, dayDelta, minuteDelta, allDay);
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                  resizeEvent(event, dayDelta, minuteDelta);
          },
          
          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
      
      
      
      
      });
  });
</script>

<% if @signups and @signups.size > 0 %>
  <h2>Your upcoming shifts</h2>
  <% @signups.each do |signup| %>
    <%= signup.event.title %> at <%= signup.event.starttime %> <%= link_to 'Cancel this shift', cancel_signup_event_path(signup) %>
  <% end %>
  
  <br />
  <br />
  <br />

<% end %>

<div>
  <div id='calendar'>
  </div>
</div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" style ="display:none;">
  <div id = "create_event">
  </div>
</div>
