<%= form_for @event_series, :url => {:action => :create}, :remote => true do |f| %>

<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Create a new event</h3>
</div>
<div class="modal-body">
  <%= render :partial => "form", :locals => { :f => f } %>
</div>

<div class="modal-footer">
  <%=f.submit 'Create Event', :class => 'btn primary' %>
  <a href="#" class="cancel-button btn secondary" onclick="$('#modal-from-dom').modal('hide');">Cancel</a>
</div>
  
<%end %>


