<% content_for :title do %>
  <%= @event.title %> at <%= @event.starttime.strftime('%I:%M%p') %>
<% end %>

<%= @event.description %>
  
<h3>Volunteer Sign Ups</h3>

<ul>
<% @event.users.each do |user| %>
  <li><%= link_to user.name, user %></li>
<% end %>
</ul>