<% content_for :title do %>
  My Shifts
<% end %>
<table class="zebra-striped">
  <% @shifts.each do |shift| %>
    <tr>
      <td><h4><%= shift.title %></h4><%= shift.starttime.strftime('%B %e at %l:%M%p') %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @volunteers %>
