<% content_for :title do %>
  My Shifts
<% end %>
<table class="zebra-striped">
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Note</th>
  <% @signups.each do |signup| %>
    <tr>
      <td><%=link_to signup.event.title, signup.event %></td>
      <td><%= signup.event.starttime.strftime('%B %e at %l:%M%p') %></td>
      <td><%= signup.description %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @signups %>
