body {
	margin:0;
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
	background-color:#e5e5e5;
}

#Tabs {
padding: 0;
}

#Header {
text-align: left;
}

#Tabs ul {
margin: 0;
padding: 0;
}

#Tabs li {
margin: 0;
padding: 0;
display: inline;
list-style: none;
border: none;
}

ul#MainTabs .current, ul#MainTabs .current {
float: left;
font-size: 12px;
line-height: 12px;
color: #222;
text-decoration: none;
padding-bottom: 9px;
background: #E5E5E5;
font-weight:bold;
padding: 5px 9px 7px;
margin-right: 2px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',endColorstr='#E5E5E5');
background: -webkit-gradient(linear,left top,left bottom,from(#FDFDFD),to(#E5E5E5));
background: -moz-linear-gradient(top,#FDFDFD,#E5E5E5);
}

#Tabs ul#MainTabs a:link, #Tabs ul#MainTabs a:visited {
float: left;
font-size: 12px;
line-height: 12px;
font-weight: normal;
padding: 5px 9px 7px;
margin-right: 2px;
}

#Tabs a:hover {
color: #D6FFFF;
background-color: #253966;
}

#Tabs a:link, #Tabs a:visited {
background-color: #42577B;
color: white;
}

table#data {
	width: 100%;
	margin-bottom: 20px;
	font-size: .9em;
}

table#data th {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 10px;
	
}

table#data td {
	padding-top: 10px;
	padding-bottom: 10px;
}

table#data tr.odd {
	background-color: #fdfdf1;
}



.content {
	background-color:white;
	margin-top:15px;
	padding:20px;
	-moz-box-shadow: 3px 3px 4px #BBB;
	-webkit-box-shadow: 3px 3px 4px #BBB;
	box-shadow: 3px 3px 4px #BBB;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
}

.button {
	margin-bottom: 20px;
}

.ui-button-text {
	font-size: .6em;
}



h2 {
	color: #000;
	margin-bottom: 20px;
	font-size: 1.5em;
}

.order {
	font-size: .8em;
}

p {
	font-size: 1.3em;
}

#loading{
  position: absolute; 
  right: 0px; 
  top: 0px; 
  background-color: #dd0000; 
  font-weight:bold;
  color: white; 
  margin: 5px; 
  padding: 3px;
}

span > div#loading {
  position: fixed;
}

a {
	text-decoration: none;
	color: #485C8A;
}

a:hover {
	color: #003399;
}

div.logo {
	color: #000;
	font-size: 1.6em;
}

.right {
	font-size: .8em;
	text-align: right;
}

div.logo a {
	color: #000;
	text-decoration: none;
}

div.header {
	background-color: #C5E2E9;
	padding-top: 5px;
}

div.links {
	margin-top: 12px;
}

h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 2.5em;
	margin: 10px 0 25px 0;
	color: #232323;
	line-height: 1.1em;
}

#footer {
	color: #777;
	font-size: .8em;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 10px;
} 
