.fc-header-title {
	text-align: center;
}

#calendar table {
	border: none;
	margin: 0;
}

#calendar table th {
	border: none;
}

.fc-header table th + th, .fc-header table td + td {
	border: none;
}

.fc-header tr:last-child td:last-child {
	border: none;
}

.fc-header-center {
	border: none;
}